@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  @variants textdirection {
    .display-none {
      display: none;
    }
    .display-block {
      display: block;
    }
    .rtl {
      direction: rtl;
    }
    .ltr {
      direction: ltr;
    }
  }

  @variants animate {
    .toLeftAnimation {
      animation-name: toLeftAnimationFrame ;
      animation-delay: 0ms ;
      animation-duration: 500ms ;
      animation-fill-mode: both;
    }
    @keyframes toLeftAnimationFrame {
      from{
        transform: translateX(0px);
      }
      to{
        transform: translateX(-280px);
      }
    }
    .toRightAnimation {
      animation-name: toRightAnimationFrame ;
      animation-delay: 0ms ;
      animation-duration: 500ms ;
      animation-fill-mode: both;
    }
    @keyframes toRightAnimationFrame {
      from{
        transform: translateX(-280px);
      }
      to{
        transform: translateX(0px);
      }
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
